body
{
    background-image: url(https://st2.depositphotos.com/1033604/9146/i/950/depositphotos_91467558-stock-photo-the-perfect-christmas-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
h1
{
    color:indigo;
    text-align: center;
    background-color: lavender;
    border-radius: 500px;
    font-family: 'Langar', cursive;;
}
p
{
    color:indianred;
    text-align:center;
    font-family:'Audiowide', cursive;
    text-decoration-style: dashed;
    font-size:20px;
    font-weight: 500;
}
